**/__pycache__/
**/*.pyc
Thunder-chat-v3/thunder-main-api/thunder-data/
Thunder-chat-v3/thunder-desktop/node_modules/
Thunder-chat-v3/thunder-desktop/dist/
.DS_Store
Thunder-chat-v3/thunder-main-api/server.log
Thunder-chat-v3/thunder-android/app/debug.keystore
